{% extends "base.html" %}

{% block content %}
    <div class="container mt-5">
        <h2 class="mb-4">Редактирование профиля</h2>
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.username.label(class="form-label") }}
                {{ form.username(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.email.label(class="form-label") }}
                {{ form.email(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.password.label(class="form-label") }}
                {{ form.password(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.confirm_password.label(class="form-label") }}
                {{ form.confirm_password(class="form-control") }}
            </div>
            <div class="form-group mt-4"> <!-- Добавили отступ сверху -->
                {{ form.submit(class="btn btn-success btn-block") }}
            </div>
        </form>
    </div>
{% endblock %}
